/* overlapping */
.overlap-text {
  font-size: 6em;
  position: absolute;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.08);
  top: -80px;
  left: 10px;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
}
.bg-text {
  position: relative;
  font-size: 6em;
  margin-bottom: -1em;
}

/* Navbar */
.navbar a {
  padding: 8px;
}

/* Home Section */

#home-page {
  margin: 5% 0;
  padding: 10% 10%;
}

#intro {
  padding: 5% 0 10% 10%;
}
.profile-img {
  padding: 10% 0 10% 15%;
}

/* About-me section */

.bio {
  letter-spacing: 2px;
}

.social-links {
  padding-left: 0;
  list-style-type: none;
}

.icons {
  display: inline-block;
}

.social-links li a {
  height: 50px;
  width: 50px;
  margin: 0 25px;
  display: block;
  position: relative;
}

/* Tech-stack section */

#tech-stack {
  position: relative;
}

.icon-box {
  display: flex;
  padding: 20px;
  align-items: center;
  background: white;
}

.icon-box:hover {
  background-color: rgba(0, 69, 78, 0.08);
  transition: ease-in-out 0.3s;
}

.tech-icon {
  height: 25px;
  width: 25px;
}

.icon-box h3 {
  margin: 0;
  font-weight: 300;
  padding-left: 0.5rem;
  line-height: 1;
  font-size: 25px;
}

/*for mobiles */
@media (max-width: 993px){
  .overlap-text {
    display: none;
  }
}

/* blinking cursor and text animation */
